In [2]:
# reading csv file
import pandas as pd
import numpy as np
data = pd.read_csv("https://raw.githubusercontent.com/AdityaNarayan23/DAX-Freshers-Training/main/healthcare-dataset-stroke-data.csv")
print(data)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

In [3]:
# data exploration - Printing total no of records in dataframe
print("Total no of records: ",len(data))
# shape returns the dimensionality of dataset i.e. number of rows and columns which can also be used for 
#calculating number of records.
print("Dimensionality of dataset: ",data.shape)

Total no of records:  5110
Dimensionality of dataset:  (5110, 12)

In [4]:
#Data Exploration - Counting null values in dataframe
print(data.isnull().sum().sum())

201

In [5]:
# Data Exploration - Mean of all columns
cols = ['age','avg_glucose_level','bmi']
# print(cols)
print(data[cols].mean())

age                   43.226614
avg_glucose_level    106.147677
bmi                   28.893237
dtype: float64

In [6]:
# Data Exploration - Median of all columns
print(data[cols].median())

age                  45.000
avg_glucose_level    91.885
bmi                  28.100
dtype: float64

In [7]:
# Data Exploration - Standard Deviation of all columns
print(data[cols].std())

age                  22.612647
avg_glucose_level    45.283560
bmi                   7.854067
dtype: float64

In [8]:
# 2	Check if “BMI” column has null values? what is the percentage of null values ?
#use data engineering method to fill the null values.
print("No of Null values in BMI column: ",data['bmi'].isnull().sum())
bmi_null_count = data['bmi'].isnull().sum()
print("Percentage of null values in BMI column: ", (bmi_null_count/len(data))*100)

# filling the null values
data.fillna(data['bmi'].mean())

No of Null values in BMI column:  201
Percentage of null values in BMI column:  3.9334637964774952

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [9]:
# Remove outliers from any two numerical columns using any appropriate ML technique
# will remove outliers using the IQR.

# i. calculating IQR for the column
Q1 = data['bmi'].quantile(0.25)
Q3 = data['bmi'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)
print("Old Shape: ", data.shape)

lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR

print("LL ",lower_limit)
print(upper_limit)
print("Outliers: \n",data[(data['bmi'] < lower_limit) | (data['bmi'] > upper_limit)])

data[(data['bmi'] > lower_limit) & data['bmi'] < upper_limit]
# print(data)

# print("New Shape: ", data_no_outlier.shape)

9.600000000000001
Old Shape:  (5110, 12)
LL  9.099999999999998
47.5
Outliers:
          id  gender   age  hypertension  heart_disease ever_married  \
21    13861  Female  52.0             1              0          Yes
113   41069  Female  45.0             0              0          Yes
254   32257  Female  47.0             0              0          Yes
258   28674  Female  74.0             1              0          Yes
270   72911  Female  57.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
4858   1696  Female  43.0             0              0          Yes
4906  72696  Female  53.0             0              0          Yes
4952  16245    Male  51.0             1              0          Yes
5009  40732  Female  50.0             0              0          Yes
5057  38349  Female  49.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
21    Self-employed          Urban             233.29  48.9     never smoked
113         Private          Rural             224.10  56.6     never smoked
254         Private          Urban             210.95  50.1          Unknown
258   Self-employed          Urban             205.84  54.6     never smoked
270         Private          Rural             129.54  60.9           smokes
...             ...            ...                ...   ...              ...
4858        Private          Urban             100.88  47.6           smokes
4906        Private          Urban              70.51  54.1     never smoked
4952  Self-employed          Rural             211.83  56.6     never smoked
5009  Self-employed          Rural             126.85  49.5  formerly smoked
5057       Govt_job          Urban              69.92  47.6     never smoked

      stroke
21         1
113        1
254        0
258        0
270        0
...      ...
4858       0
4906       0
4952       0
5009       0
5057       0

[110 rows x 12 columns]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [10]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
data['gender'] = lb.fit_transform(data['gender'])
data['ever_married'] = lb.fit_transform(data['ever_married'])
data['Residence_type'] = lb.fit_transform(data['Residence_type'])
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,Private,1,228.69,36.6,formerly smoked,1
1,51676,0,61.0,0,0,1,Self-employed,0,202.21,NaN,never smoked,1
2,31112,1,80.0,0,1,1,Private,0,105.92,32.5,never smoked,1
3,60182,0,49.0,0,0,1,Private,1,171.23,34.4,smokes,1
4,1665,0,79.0,1,0,1,Self-employed,0,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,Private,1,83.75,NaN,never smoked,0
5106,44873,0,81.0,0,0,1,Self-employed,1,125.20,40.0,never smoked,0
5107,19723,0,35.0,0,0,1,Self-employed,0,82.99,30.6,never smoked,0
5108,37544,1,51.0,0,0,1,Private,0,166.29,25.6,formerly smoked,0
5109,44679,0,44.0,0,0,1,Govt_job,1,85.28,26.2,Unknown,0

In [11]:
#one hot encoding
data = pd.get_dummies(data, columns = ['work_type', 'smoking_status'])
data

,id,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,9046,1,67.0,0,1,1,1,228.69,36.6,1,0,0,1,0,0,0,1,0,0
1,51676,0,61.0,0,0,1,0,202.21,NaN,1,0,0,0,1,0,0,0,1,0
2,31112,1,80.0,0,1,1,0,105.92,32.5,1,0,0,1,0,0,0,0,1,0
3,60182,0,49.0,0,0,1,1,171.23,34.4,1,0,0,1,0,0,0,0,0,1
4,1665,0,79.0,1,0,1,0,174.12,24.0,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,1,83.75,NaN,0,0,0,1,0,0,0,0,1,0
5106,44873,0,81.0,0,0,1,1,125.20,40.0,0,0,0,0,1,0,0,0,1,0
5107,19723,0,35.0,0,0,1,0,82.99,30.6,0,0,0,0,1,0,0,0,1,0
5108,37544,1,51.0,0,0,1,0,166.29,25.6,0,0,0,1,0,0,0,1,0,0
5109,44679,0,44.0,0,0,1,1,85.28,26.2,0,1,0,0,0,0,1,0,0,0

In [17]:
# split dataset into train, test val
from sklearn.model_selection import train_test_split

X = data.drop(columns = ['stroke']).copy()
y = data['stroke']

train_size=0.8
X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.8)
test_size = 0.5
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5)

print(X_train.shape)
print(y_train.shape)
print(X_valid.shape)
print(y_valid.shape)
print(X_test.shape)
print(y_test.shape)

(4088, 18)
(4088,)
(511, 18)
(511,)
(511, 18)
(511,)

In [19]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values